<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!--falta codigo para mostrar bckground-->
  <% if(typeof errors != 'undefined'){%>
    <ul>
      <% for(let i=0; i < errors.lenght; i++){ %>
        <li style="color: red"><%= errors[i].msg %></li>
        <% } %>
    </ul>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <form action="/" method="POST">
    <div>
      <label for="">Ingresa tu nombre</label>
      <input required type="text" name="name" />
    </div>

    <div>
      <label for="">Selecciona un color</label>
      <select required name="color" id="color">
        <option value="red">Rojo</option>
        <option value="green">Verde</option>
        <option value="blue">Azul</option>
        <option value="yellow">Amarillo</option>
      </select>
    </div>
    <div>
      <label for="">Ingresa un email</label>
      <input required type="text" name="email" />
    </div>
    <div>
      <label for="">Ingresa un edad</label>
      <input required type="text" name="age" />
    </div>
    <div>
      <label for="">Recordar color</label>
      <input required type="checkbox" name="remember_color" />
    </div>
    <button type="submit">Enviar</button>
  </form>
  <!-- Validar que las ariables existan-->
  <% if (locals.name){ %>
    <p>Hola <%= name %> , elegiste el color: <%= color %> , tu email es:
          <%= email %> y tu edad es: <%= age %>
    </p>
    <% } %>
</body>

</html>